<h1 class="text-center">Cadastre um produto</h1>

<div class="container">
    
  <ul>
      <div>
        Nome:
        <input class="form-control mt-2" type="text" placeholder="Digite aqui o nome">
      </div>

      <div class="mt-3">
        Preço:
        <input class="form-control mt-2" type="text" placeholder="Digite aqui o preço">
      </div>

      <div class="mt-3">
        Imagem:
        <input class="form-control mt-2" type="text" placeholder="Digite a URL da imagem">
      </div>

      <div class="mt-3">
        Quantidade em estoque:
        <input class="form-control mt-2" type="text" placeholder="Digite a quantidade em estoque">
      </div>

      <button type="button" class="btn btn-outline-primary mt-2">Cadastrar</button>

      <h3 class="text-center">Bem vindo a nossa loja</h3>
  </ul>
</div>